.home-hero {
	margin-bottom: 50px;
}

.brands-title {
	margin-bottom: 20px;
}

.home-brand-link {
	margin-bottom: 20px;
}

.home-brand-button {
	border-radius: 4px;
	//border: 1px solid #f7f7f7;
	display: block;
	padding: 20px;
	box-shadow: 0px 2px 10px 1px rgba(0,0,0,0.15);
}

.brand-logo {
	margin: 20px 0;

	img {
		max-width: 500px;
	}
}


